.menu_link {
    text-decoration: none;
    color: white;
    transition: 1s;
    
  }
  Link{
    text-decoration: none;
  }
  


  .content {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    color: white;
  }
  .auth {
    display: flex;
    justify-content: space-between;
    width: 10vw;
    color: white;
  }
  
  .menu {
    display: none;
    position: relative;
  }
  .main{
display: none;
  }
  i {
    background-color: #666;
    /* width: 32px; */
    /* height: 4px; */
    margin: 4px;
    border-radius: 2px;
    transition: 0.5s;
    z-index: 50;
    display: none;
  }
  .open:nth-child(1) {
    transform: rotate(-45deg) translate(-10px, 9.5px);
  }
  .open:nth-child(2) {
    opacity: 0;
  }
  .open:nth-child(3) {
    transform: rotate(45deg) translate(-7.5px, -7px);
  }
  .close:nth-child(1) {
    transform: rotate(0) translateY(0);
  }
  .close:nth-child(2) {
    opacity: 1;
  }
  .close:nth-child(3) {
    transform: rotate(0) translateY(0);
  }
  body{
   /* background-color: rgb(182, 180, 180); */
    
  }
  
  @media screen and (max-width: 768px) {
    .main{
        display: block;
    }
    i {
      display: block;
      background-color: #666;
      width: 32px;
      height: 4px;
      margin: 4px;
      border-radius: 2px;
      /* transition: 0.5s; */
      z-index: 50;
    }
    .menu {
      /* display: block; */
      display: inline-flex;
      flex-direction: column;
      z-index: 50;
      
      position: relative;
       left: 0;
      top: 0; 
      transition: all 0.5s;
      padding: 15px;
  
  
    }
  .menu_content{
    display: flex;
    flex-direction: column;
  
    position: fixed;
     width: 100%;
    color:white;
    transition:  1s;
    background-color:#6F73EE;
    z-index: 3;
    top: 0;
    padding-top: 5vw;
    bottom: 0;
    text-align: center;
    
  }
  .active{
    position: absolute;
 
  }
.tr9udk8uesdr {
    position: absolute;
    top: 0;
    transition: 700ms ease;
}

Link{
    text-decoration: none;
}
  
  
  
  .open  .menu_content {
    padding-top: 0px;
  } 
  .close  .menu_content {
    padding-top: 40px;
  } 
  }

  
