body {
  font-family: "Jost", sans-serif;
}

.wrapper {
  height: 100vh;
  position: relative;
}

.card {
  max-width: 65rem;
  position: relative;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -5px 5px 37px 8px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
}

.product-left {
  height: 100%;
  width: 70%;
  padding: 4rem 2rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background: #6f73ee;
  color: #fff;
}

.product-right {
  background: #fff;
  height: auto;
  width: 100%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh;
}

.product-right img {
  height: 30rem;
}

.header h1 {
  text-transform: uppercase;
  margin: 2rem 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}

/* Price */

.header h4 {
  margin-bottom: 4vh;
  font-weight: 300;
}

/* Product Description */

.product-main p {
  opacity: 0.5;
  margin: 2rem 0;
  line-height: 1.45;
}

.focus {
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0 0 0.9rem 0;
  border-bottom: 0.2rem solid rgba(250, 250, 250, 0.3);
}

.focus span:last-child {
  margin: 0 0 0 1rem;
  width: 100%;
}

.focus span:first-child {
  border-bottom: 0.2rem solid #fff;
  padding: 0 0 0.9rem 0;
}

/* Choose color / quantity  */

.btns-group {
  width: 100%;
  margin: 0 0 2rem 0;
}

/* Add to cart button  */

.product-add {
  border: 1px solid #fff;
  width: 100%;
  padding: 1.5rem;
  border-radius: 5rem;
  transition: all 0.5s ease-out;
}

.product-add:hover {
  background-color: #fff;
  color: green;
}

.product-btns a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
